django
gunicorn
django-heroku
requests
altgraph==0.16.1
cachetools==3.1.0
certifi==2018.10.15
chardet==3.0.4
dj-database-url==0.5.0
future==0.16.0
google-api-python-client==1.7.8
google-auth==1.6.3
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.3.0
httplib2==0.12.0
idna==2.7
macholib==1.11
oauthlib==2.1.0
pefile==2018.8.8
psycopg2==2.8.2
pyasn1==0.4.5
pyasn1-modules==0.2.5
PyInstaller==3.4
pytz==2019.1
pywin32-ctypes==0.2.0
rsa==4.0
simplejson==3.16.0
six==1.12.0
sqlparse==0.3.0
uritemplate==3.0.0
urllib3==1.24.1

